<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylin.css">
</head>

<div id= "topbuttons">
    <div class="topnav">
        <form action="/del" method="post">
            <button type="submit">Log out</button>
        </form>
    </div>
    <div class="topnav">
        <form action="/login" method="get">
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="topnav">
        <form action="/createPost" method="get">
            <button type="submit">Create a post</button>
        </form>
    </div>
</div>
<div id="dummy"></div>
<div id="title">
    <h1>Max & Jess's Reddit: <i>It's better than Reddit</i></h1>
    <h2>Top 25 Posts by <%= sort %>:</h2>
</div>

<h3>
      <div class="button">
          <form action="/" method="get">
              <button type="submit">Hottest </button>
          </form>
        </div>
        <div class="button">
          <form action="/sort/controversialRanking" method="get">
              <button type="submit">Controversial </button>
          </form>
        </div>
        <div class="button">
          <form action="/sort/newestRanking" method="get">
              <button type="submit">Newest </button>
          </form>
        </div>
        <div class="button">
          <form action="/sort/voteScore" method="get">
              <button type="submit">Top Rated </button>
          </form>
        </div>
  </h3>

<ol class="contents-list">
    <% posts.forEach(function(post) { %>
        <li class="content-item">
            <h3 class="content-item__title">
            <a href="<%= post.url %>"><%= post.title %></a>
          </h3>
            <h4><% if(sort !== "newestRanking") { %>Score 
        <%= post[sort] %></h4>
            <% } %>
                <p>Created by
                    <%= post.user.username %> on
                        <%= dateFormat(post.newestRanking, "yyyy-mm-dd h:MM:ss TT") %>
                            in the Subreddit:
                            <%= post.subreddit.name %>
                </p>
                <form action="/vote" method="post">
                    <input type="hidden" name="vote" value="1">
                    <input type="hidden" name="postId" value="<%= post.id %>">
                    <button type="submit">upvote this post</button>
                </form>
                <form action="/vote" method="post">
                    <input type="hidden" name="vote" value="-1">
                    <input type="hidden" name="postId" value="<%= post.id %>">
                    <button type="submit">downvote this post</button>
                </form>
        </li>
        <% }); %>
</ol>


</html>