<html>

<head>
    <title> Homepage </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylin.css">
    
</head>
<% include partials/header %>

    <body id="homepage">
        <main>
            <nav id="sortingButtons">
                <ul>
                    <h2>Top 25 Posts by <%= sort %>:</h2>
                    <li>
                        <form action="/sort/hotnessRanking" method="get">
                            <button class="btn btn-danger <%= sort==='hotnessRanking' ? 'active' : ''%>" type="submit">Hottest </button>
                        </form>
                    </li>
                    <li>
                        <form action="/sort/controversialRanking" method="get">
                            <button class="btn btn-danger <%= sort==='controversialRanking' ? 'active' : ''%>" type="submit">Controversial </button>
                        </form>
                    </li>
                    <li>
                        <form action="/sort/newestRanking" method="get">
                            <button class="btn btn-danger <%= sort==='newestRanking' ? 'active' : ''%>" type="submit">Newest </button>
                        </form>
                    </li>
                    <li>
                        <form action="/sort/voteScore" method="get">
                            <button class="btn btn-danger <%= sort==='voteScore' ? 'active' : ''%>" type="submit">Top Rated </button>
                        </form>
                    </li>
                </ul>
            </nav>



            <ol id="allPosts">
                <% posts.forEach(function(post) { %>
                    <article id="eachPost">
                        <section>
                            <li>
                                <a class="title" href="<%= post.url %>"><%= post.title %></a>
                                <% if(sort !== "newestRanking") { %>Score 
                                <%= post[sort] %>
                            <% } %>
                                <p>Created by
                                    <%= post.user.username %> on
                                        <%= dateFormat(post.newestRanking, "yyyy-mm-dd h:MM:ss TT") %>
                                            in the Subreddit:
                                            <%= post.subreddit.name %>
                                </p>
                                <a href="/comments/:<%= post.id %>">
                                    <%= post.totalComments %> comments </a>

                                <form action="/createComment" method="get">
                                    <button class="btn btn-default btn-xs" type="submit">Add YOUR comment</button>
                                    <input type="hidden" class="createCommentButton" name="postId" value="<%= post.id %>">
                                </form>
                            </li>
                        </section>
                        <div class="vote">
                            <form action="/vote" method="post">
                                <input type="hidden" name="vote" value="1">
                                <input type="hidden" name="postId" value="<%= post.id %>">
                                <p class="voteScore">
                                    <%= post.numUpVotes %>
                                        <button class="btn btn-primary btn-xs <%= post.yourVote===1 ? 'activeVote' : ''%>" type="submit">upvote</button></p>
                            </form>
                            <form action="/vote" method="post">
                                <input type="hidden" name="vote" value="-1">
                                <input type="hidden" name="postId" value="<%= post.id %>">
                                <p>
                                    <%= post.numDownVotes%>
                                        <button class="btn btn-primary btn-xs <%= post.yourVote===-1 ? 'activeVote' : ''%>" type="submit">downvote</button></p>
                            </form>
                        </div>
                    </article>
                    <% }); %>
            </ol>

        </main>

    </body>


    <footer>&copy; 2016 myself!</footer>

</html>